<section id="register">
    <div class="page-header">
        <h1>Registro <small>Crea un usuario para poder subir archivos</small></h1>
    </div>
    <div class="row">
        <div class="span4">
            <h2>Crea un usuario</h2>
        </div>
        <div class="span8">
            <form action="/api/users" method="post">
                <label>Nombre de usuario:</label>
                <input type="text" name="username" />
                <label>Email:</label>
                <input type="email" name="email" />
                <label>Contraseña:</label>
                <input type="password" name="password.main" />
                <label>Confirmar contraseña:</label>
                <input type="password" name="password.confirm" />
                <button class="btn primary">Registrar</button>
            </form>
        </div>
    </div>
</section>