<div class="hero-unit">
    <h1>Apuntator</h1>
    <p>Bienvenido al programa de prueba de Gorka.</p>
    <p><button class="btn btn-primary btn-large">Esto no es un botón</button></p>
</div>
<section id="files">
    <div class="page-header">
        <h1>Archivos <small>Utilizalos con responsabilidad</small></h1>
    </div>
    <div class="row">
        <div class="span4">
            <p>Aquí encontrarás los archivos que han sido añadidos a nuestra querida base de datos de apuntes.</p>
        </div>
        <div class="span8">
            <table id="file-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Descargar</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section id="form">
    <div class="page-header">
        <h1>Nuevo fichero <small>Utiliza el formulario para enviar</small></h1>
    </div>
    <div class="row">
        <div class="span4">
            <p>Envía un archivo para que forme parte de nuestra base de datos</p>
        </div>
        <div class="span4">
            <form class="well" action="/api/files" enctype="multipart/form-data">
                <fieldset class="file">
                    <input id="fileinput" name="file" type="file">
                </fieldset>
                <fieldset class="data" style="display:none;">
                    <label>Nombre</label>
                    <input type="text" name="name" />
                    <label>Descripción</label>
                    <textarea name="description"></textarea>
                    <button type="submit" class="btn primary">Enviar</button>
                </fieldset>
            </form>
        </div>
        <div class="span4">
            <h3>Información:</h3>
            <ul>
                <li><strong>Nombre: </strong><span id="filename"></li>
            </ul>
        </div>
    </div>
</section>