<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>


  <script src="@routes.Assets.at("javascripts/modernizr.js")" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="@routes.JsTests.js("stylesheets/jasmine.css")">
  <script type="text/javascript" src="@routes.JsTests.js("libs/jasmine.js")"></script>
  <script type="text/javascript" src="@routes.JsTests.js("libs/jasmine-html.js")"></script>

  <script data-main="@routes.JsTests.js("specs/main.spec.js")"  src="@routes.Assets.at("javascripts/libs/require/require.js")" type="text/javascript"></script>

</head>

<body>
</body>
</html>
